{% extends 'base.html.twig' %}

{% block main %}
<h1> Manage Articles
    <a class="btn btn-primary" href="admin_article_create.php">
        <i class="fa fa-plus"></i> Add a article</a>
</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Articles</th>
        <th scope="col">Description</th>
        <th scope="col">Date de création</th>
        <th scope="col">Date de modification</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>


    </tbody>
</table>


{% endblock %}